<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <title>Todo App</title>
    </head>
    <body>

        <div class="container">

            <div class="row jumbotron mb-6">
                <div class="col">
                    <h1 class="text-center" style="text-align: center;">Life Changing TODO</h1>
                </div>
                
              </div>










            <div class="row">
                <div class="col d-flex justify-content-center">
                    <form action="/" method="POST">
                        <input type="text" name="todoData" />
                        <input type="submit" value="Add" class="btn btn-success"/>
                    </form>
                </div>
                
            </div>
            
    
            
                



        </div>

        <div class="container">
            
            <% for (var i =0; i<data.length;i++) { %>
                <div id="myDiv" class="row">
                <div class="col">
                <form action="/delete/<%= data[i]._id %> " method="POST">
                    
                    <input type="checkbox" value="<%= data[i]._id %> " class="check">
                    <p class="d-inline data"> <%= data[i].todoData %></p>
                    <button class="btn btn-danger" type="submit">Delete</button>
                    
                </form>


              <%  } %>
            </div>
            
        </div>
        </div>


        <script>



            var check = document.getElementsByClassName("check");
            var data = document.getElementsByClassName("data");




            for (let i =0 ; i<check.length; i++) {
                check[i].onclick = function(e) {

                
                var checkValue = e.target.value;

                console.log(i)
  

            //     if (e.target.checked === true) {
            //     data[i].style.textDecoration = "line-through";
            // } else {
            //     data[i].style.textDecoration = "none";
            // }

                

                if (e.target.checked === true) {
                data[i].style.textDecoration = "line-through";

                var sendData = {completed: e.target.checked};


                fetch("/update/"+checkValue, {
                    method: "post",
                    body: JSON.stringify(sendData),
                    headers: {
                        "Content-Type": "application/json",
                        "Accept": "application/json"
                    }
                }).then().then(data => {

                }).catch();


            } 

           else
            {
                var sendData = {completed: e.target.checked};
                data[i].style.textDecoration = "none";
                fetch("/update/"+checkValue, {
                    method: "post",
                    body: JSON.stringify(sendData),
                    headers: {
                        "Content-Type": "application/json",
                        "Accept": "application/json"
                    }
                }).then((res) => res.json()).then(data => {

                }).catch();
            }
            }
            }

            

            
            












        </script>

    </body>
</html>
